/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flexbox container for text and image */
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensures responsiveness */
}

/* Left text content */
.textContent {
  flex: 1; /* Takes 50% of the width */
  max-width: 50%;
}

/* Right image content */
.imageContainer {
  flex: 1; /* Takes 50% of the width */
  max-width: 50%;
  text-align: right; /* Aligns the image to the right */
}

/* Image styling */
.headerImage {
  width: 100%;
  max-width: 300px; /* Limit max image size */
  height: auto; /* Maintain aspect ratio */
  margin-left: 2rem; /* Add spacing between text and image */
}
